.justForTodayForm {
  text-align: center;
  font-family: 'Frank Ruhl Libre';
  direction: rtl;
  max-width: 500px;
  width: calc(100vw - 2rem);
  margin: 1rem auto;
  position: relative;

  &.readOnly {
    .formControl {
      .textarea {
        box-shadow: none;
      }
    }
  }

  .daysClean {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;

    .counter {
      font-size: 3.5rem;
      text-align: center;
      font-family: inherit;
      font-weight: inherit;
      border: none;
      width: 100px;
    }

    .label {
      margin-top: -0.5rem;
      font-size: 1.5rem;
      color: #888;
      white-space: nowrap;
      word-break: keep-all;
    }
  }

  .nav {
    display: flex;
    align-items: baseline;
    margin-bottom: -1.2rem;
    position: absolute;
    margin-top: 37px;
    width: 100%;

    .spacer {
      flex: 1;
    }

    .link {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      color: inherit;
      text-decoration: none;

      .backward {
        align-items: flex-start;
      }

      &.forward {
        align-items: flex-end;
      }

      svg {
        width: 25px;
        height: 40px;
      }
    }
  }

  .formControl {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: right;

    .questionLabel {
      text-align: center;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .textarea {
      padding: 0.5rem 0.75rem;
      font-family: inherit;
      font-size: 1.25rem;
      background-color: #ededed;
      resize: none;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 4px 0px 0px #ddd;
      font-family: 'Varela Round', sans-serif;

      &:focus {
        box-shadow: none;
      }
    }

    .options {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-content: stretch;
      gap: 0.75rem;
      margin: 0 1rem 1rem;

      .option {
        opacity: 0;
        appearance: none;
        position: absolute;
      }

      .option:checked + .optionLabel {
        background-color: #000;
        color: #ededed;
      }

      .optionLabel {
        text-align: center;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ededed;
        border: none;
        aspect-ratio: 1 / 1;
        // height: 84px;
        border-radius: 100%;
        font-family: inherit;
        font-size: 1.5rem;
        font-weight: inherit;
        padding: 0;
        cursor: pointer;
        box-shadow: 0px 2px 0px 0px #ddd;
      }
    }
  }

  .shareButton {
    display: block;
    margin: 0 auto 0.5rem;
    display: block;
    align-self: flex-end;
    padding: 0.25rem 1rem;
  }
}
