@font-face {
  font-family: FrankRe;
  src: url(frank-re-regular-aaa.woff2);
  font-weight: normal;
}

@font-face {
  font-family: FrankRe;
  src: url(frank-re-bold-aaa.woff2);
  font-weight: bold;
}
